@import '~node_modules/modern-normalize/modern-normalize.css';

// COLORS
$light-clr-1: #ffffff;
$light-clr-2: #eac645;
$dark-clr-1: #111111;
$dark-clr-2: #202024;

$accent-clr: #4f2ee8;
$bck-clr-home: #d0d0d0;

// ANIMATION
$animation-fast: 400ms ease;
$animation-slow: 800ms ease;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SMOOTH SCROLL
html {
  scroll-behavior: smooth;
}

body {
  font-family: DM Sans, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

// mobile screen
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

// tablet screen
@media screen and (min-width: 768.98px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

// desktop screen
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
