.footer {
  text-align: center;
  background: $bck-clr-home;
  color: $dark-clr-1;
  padding: 30px;
  font-size: 16px;
  border: 1.5px solid $dark-clr-1;
  border-radius: 8px 8px 0px 0px;
  line-height: 1.19;
  position: absolute;
  bottom: 0px;
  width: 1440px;
}

.footer-title {
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

@media screen and (min-width: 319px) and (max-width: 769px){
  .footer {
    width: 319px;
  }
}

@media screen and (max-width: 769px){
  .footer {
    width: 768px;
  }
}

@media screen and (max-width: 1440px){
  .footer {
    width: 1440px;
  }
}
