.header {
  background: $light-clr-1;
  border: 1.5px solid $dark-clr-1;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1392px !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  // margin-left: 24px;
  // margin-top: 22px;
  // margin-bottom: 22px;
  color: $dark-clr-1;
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}

.active {
  font-family: 'DM Sans';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;
  color: $dark-clr-1;
}

.header-link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;
  color: $dark-clr-1;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.header-link-icon {
  width: 20px;
  height: 20px;
  stroke-width: 0;
  fill: $dark-clr-1;
  vertical-align: bottom;
  stroke: $dark-clr-1;
  display: inline-block;
}

.header-link-icon-mob {
  width: 20px;
  height: 20px;
  stroke-width: 0;
  fill: $light-clr-1;
  vertical-align: bottom;
  stroke: $dark-clr-1;
  display: inline-block;
}

.logo-header {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  color: $dark-clr-1;
  fill: currentColor;
  padding-right: 4px;
}

.header-list-item {
  fill: currentColor;
}

.shoping-list {
  position: absolute;
  width: 292px;
  height: 52px;
  left: 420px;
  top: 112px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08px;
  color: $dark-clr-1;
}

.list {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08px;
  color: $accent-clr;
}

.btn-header {
  min-width: 184px;
  text-transform: none;
  letter-spacing: -0.04em;
  color: $light-clr-1;
  background: $accent-clr;
  border: 1.5px solid $dark-clr-1;
  border-radius: 18px;
  justify-content: space-between;
  margin-left: 24px;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: DMSans;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-header:hover,
.btn-header:focus {
  color: $dark-clr-1;
  background: $light-clr-1;
}

.btn-singin {
  min-width: 184px;
  text-transform: none;
  letter-spacing: -0.02em;
  color: $light-clr-1;
  background: $accent-clr;
  border: 1.5px solid $dark-clr-1;
  border-radius: 18px;
  gap: 0;
  margin-left: 24px;
  padding: 3px 7px;
  font-size: 22px;
  line-height: 1.31;
  transition: all 0.3s;
  align-items: center;
  display: flex;
  font-family: 'DM Sans';
  font-weight: 700;
}

.btn-singin:hover,
.btn-singin:focus {
  color: $dark-clr-1;
  background: $light-clr-1;
}

.header-singin-down-icon {
  fill: $light-clr-1;
  margin-left: 4px;
}

.header-singin-icon {
  width: 37px;
  height: 37px;
  fill: $accent-clr;
  background: $light-clr-1;
  border-radius: 50%;
  margin-right: 9px;
  padding: 9px;
}

.btn-header-logout {
  letter-spacing: -0.01em;
  color: $dark-clr-1;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $light-clr-1;
  border: 2px solid $accent-clr;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  font-family: DMSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  width: 184px;
  height: 48px;
  margin-left: 24px;
  justify-content: space-between;
}

.btn-header-logout:hover,
.btn-header-logout:focus {
  color: $light-clr-1;
  background: $accent-clr;
}

.sign-up-icon {
  stroke: $light-clr-2;
  position: relative;
}

.menu-burger-open {
  display: none;
}

.mobile-menu-close-button {
  display: none;
}

.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .page-nav {
    margin-left: 40px;
  }

  .header-list {
    gap: 40px;
  }

  .btn-header {
    display: none;
  }

  .header-link {
    display: none;
  }

  .active {
    display: none;
  }
  .btn-singin {
    display: none;
  }
  .btn-header-logout {
    max-width: fit-content;
    text-transform: none;
    letter-spacing: -0.04em;
    color: $dark-clr-1;
    background: $light-clr-1;
    border: 1.5px solid $dark-clr-1;
    border-radius: 18px;
    gap: 4px;
    margin-left: 20px;
    padding: 13px 17px;
    font-size: 14px;
    line-height: 1.28;
    transition: all 0.3s;
    display: none;
  }
}

@media screen and (min-width: 319px) and (max-width: 769px) {
  .header-menu-mob {
    stroke: $dark-clr-1;
    transition: all 0.3s;
    width: 28px;
    height: 28px;
    background-color: $light-clr-1;
  }
  .header-menu-mob:hover {
    stroke: $accent-clr;
  }
  .header-menu-mob:focus {
    stroke: $accent-clr;
  }

  .menu-burger-open {
    cursor: pointer;
    background-color: $dark-clr-1;
    border: none;
    border-radius: 50%;
    outline: none;
    justify-content: center;
    align-items: flex-end;
    margin-left: 14px;
    padding: 0;
    transition: all 0.3s ease;
    display: flex;
  }

  .menu-burger-open .header-menu-mob {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .menu-burger-open .header-menu-mob-close {
    transition: opacity 0.3s ease;
    background-color: $light-clr-1;
  }

  .mobile-menu-container {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 90vh;
    z-index: 99;
    background: url('../images/png/background-mobile-burger.png'),
      radial-gradient(
        183.6% 183.01% at 59.76% -23.42%,
        $accent-clr 18.03%,
        $light-clr-1 100%
      );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    flex-direction: column;
    transition: all 0.3s;
    display: flex;
    position: fixed;
    top: 58px;
    left: 0;
    transform: translateX(100%);
  }

  .mobile-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transform: translate(0);
  }

  .mobile-menu-close-button {
    cursor: pointer;
    background-color: $dark-clr-1;
    border: none;
    border-radius: 50%;
    outline: none;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    padding: 0;
    animation: all 0.3s;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    margin: 18px;
  }

  .header-menu-mob-close.burger-toggle-hidden {
    display: none;
    transform: scale(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  .header-menu-mob.burger-toggle-hidden {
    display: none;
    transition: opacity 0.3s ease-out, height 0.3s ease-out;
  }

  .header-menu-mob-close {
    stroke: $dark-clr-1;
    transition: all 0.3s;
    display: flex;
  }

  .header-menu-mob-close:hover {
    stroke: $accent-clr;
  }

  .header-menu-mob-close:focus {
    stroke: $accent-clr;
  }

  .user-info-bar {
    height: 37px;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
  }

  .user-info-bar > .user-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.31;
    color: $light-clr-1;
  }

  .nav-mob-menu,
  .nav-list-mob-menu {
    margin: 0 auto;
    display: flex;
  }

  .nav .nav-active {
    background-color: $light-clr-2;
    border-radius: 36px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    transition: all 0.3s;
    display: flex;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    color: $light-clr-1;
    text-transform: uppercase;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    margin-top: 15.5vh;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .nav-list .nav-active {
    background-color: $light-clr-2;
    border-radius: 36px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    transition: all 0.3s;
    display: flex;
  }

  .nav-item {
    z-index: 10;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    transition: all 0.3s;
    position: relative;
  }

  .btn-header-mob-logout {
    max-width: fit-content;
    text-transform: none;
    letter-spacing: -0.04em;
    color: $dark-clr-1;
    background: $light-clr-1;
    border: 1.5px solid $dark-clr-1;
    border-radius: 18px;
    gap: 4px;
    padding: 13px 17px;
    font-size: 14px;
    line-height: 1.28;
    transition: all 0.3s;
    display: flex;

    position: fixed;
    left: 20px;
    bottom: 20px;
  }

  .btn-header-mob-logout:hover,
  .btn-header-mob-logout:focus {
    color: $light-clr-1;
    background: $accent-clr;
  }

  .mobile-inactive-link {
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    color: $light-clr-1;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .menu-burger-open {
    display: none;
  }
  .header-menu-mob {
    display: none;
  }
  .mobile-menu-close-button {
    display: none;
  }
  .mobile-menu-burger {
    display: none;
  }
  .header-menu-mob-close {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }
}

// --------------- Authorization (Sign up) ---------------

.btn-mob-signUp {
  width: 184px;
  text-transform: none;
  letter-spacing: -0.04em;
  color: $light-clr-1;
  cursor: pointer;
  background: $accent-clr;
  border: 1.5px solid $dark-clr-1;
  border-radius: 18px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 13px;
  font-family: DMSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  transition: all 0.3s;
  display: flex;
  &:hover,
  &:focus {
    color: $dark-clr-1;
    background: $light-clr-1;
  }
}

.mobile-menu-logedin {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  justify-content: flex-end;
  align-items: flex-start;
}

.js-mobile-menu-logedin.is-visible,
.btn-header.is-visible,
.btn-singin.is-visible,
.btn-header-logout.is-visible,
.btn-mob-signUp.is-visible,
.page-nav.is-visible,
.mobile-menu-logedin.is-visible {
  pointer-events: none;
  opacity: 0;
  display: none;
}
.btn-mob-signUp {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.is-active {
  background: $light-clr-2;
  border-radius: 36px;
  padding: 8px 16px;
}
