.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  width: 1440px;
  left: 0px;
  top: 0px;
}

.header-container {
  display: flex;
}

.header-logo {
  font-family: 'DM Sans';
  text-decoration: none;
  color: #000000;
  height: 13.27px;
  margin-left: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-weight: 700;
  display: flex;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.active {
  font-family: 'DM Sans';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;
  background: #eac645;
  border-radius: 36px;
  padding: 8px 16px;
  color: #000000;
}

.header-link {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;
  color: #000000;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.header-link-icon {
  width: 20px;
  height: 20px;
  stroke-width: 0;
  fill: white;
  vertical-align: bottom;
  stroke: #000000;
  display: inline-block;
}

.logo-header {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  color: #000000;
  fill: currentColor;
  padding-right: 4px;
}

.header-list-item {
  fill: currentColor;
}

.shoping-list {
  position: absolute;
  width: 292px;
  height: 52px;
  left: 420px;
  top: 112px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08px;
  color: #000000;
}

.list {
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08px;
  color: #4f2ee8;
}

.empty {
  width: 349px;
  height: 48px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 140px;
}

@media screen and (max-width: 769px) {
  .container {
    width: 768px;
  }

  .header-logo {
    margin-left: 32px;
  }

  .page-nav {
    margin-left: 40px;
  }

  .header-list {
    gap: 40px;
  }
}

@media screen and (min-width: 319px) and (max-width: 769px) {
  .container {
    width: 320px;
  }

  .header-link {
    display: none;
  }

  .active {
    display: none;
  }
}
