@import './common';

@import './header';
@import './tumbler-theme';

@import './auth-modal';
@import './categories';
@import './support-ukraine';
@import './gallery-categories';
@import './modal-item-home';

@import './footer';
@import './shoplist-gallery-categories.scss';

.align-home-sect {
  display: flex;
  margin-top: 40px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }

  @media screen and (max-width: 1439px) {
    flex-wrap: wrap;

    .align-left {
      display: flex;
      justify-content: center;

      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (max-width: 688px) {
    .align-left {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .div-support {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .shop-list-none {
    display: none;
  }
}

// Animation during load site

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid $add-light-clr-1;
  border-top: 4px solid $accent-clr;
  border-radius: 50%;
  animation: spin $animation-slow infinite;
}
