@import './common';

.checkbox {
  opacity: 0;
  position: absolute;
}

.label-mode {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 13px;
  width: 26.7px;
  transform: scale(1.5);
}

.label-mode .ball {
  background: linear-gradient(180deg, $light-clr-1 0%, $add-light-clr-1 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  height: 12px;
  width: 12px;
  transform: translateX(0px);
  transition: transform $animation-fast;
  top: 0;
  left: 0;
}

.checkbox:checked + .label-mode .ball {
  transform: translateX(14px);
}

.checkbox:checked + .label-mode {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.sun,
.moon {
  fill: $add-light-clr-1;
}

$header-border: 1.5px solid $category-clr;
$scrollbar-color-light: $add-light-clr-1;
$header-border-dark: 1.5px solid $light-clr-1;

.dark-theme {
  background-color: $dark-clr-2;
  color: $add-text-clr;

  transition: background-color $animation-fast;
}

.dark-theme header {
  border: $header-border-dark;
  background-color: $dark-clr-2;

  transition: background-color $animation-fast;
}

.dark-theme .header-logo {
  color: $add-light-clr-1;
}

.dark-theme .book-class-more {
  color: $light-clr-1;
}

.dark-theme .filter__item {
  color: $add-text-clr;
}

.dark-theme .filter__item--active {
  color: $light-clr-2;
}

.dark-theme .gallery-title {
  color: $light-clr-1;
}

.dark-theme .filter__list::-webkit-scrollbar-thumb {
  border: 12px solid $category-clr;
}

.dark-theme .btn-header-logout {
  background: $dark-clr-2;
  color: $light-clr-1;
}

.dark-theme .modal-auth {
  background-color: $dark-clr-2;
  border: 2px solid $add-light-clr-1;
}

.dark-theme .modal-cross {
  stroke: $scrollbar-color-light;
}

.dark-theme .modal-icon {
  stroke: $scrollbar-color-light;
}

.dark-theme .auth-input {
  background-color: $dark-clr-2;
  outline: 3px solid $scrollbar-color-light;
  color: $scrollbar-color-light;
}

.dark-theme .auth-input::placeholder {
  color: $scrollbar-color-light;
}

.dark-theme .button-submit {
  background-color: $add-light-clr-1;
  color: $dark-clr-2;
}

.dark-theme .auth-link {
  color: $add-light-clr-2;
}

.dark-theme .book-cards h2 {
  color: $light-clr-1;
}

.dark-theme .modal__congratulation {
  color: $add-light-clr-2;
}

.dark-theme .filter__list::-webkit-scrollbar-track {
  background: $dark-clr-2;
}

.dark-theme .filter__list::-webkit-scrollbar-thumb {
  background: $category-clr;
}

.dark-theme .header-menu-mob-close {
  stroke: $light-clr-1;
  background-color: $dark-clr-2;

  transition: $animation-fast;
}

.dark-theme {
  & .modal-text {
    color: $light-clr-1;
  }

  & .modal__container {
    background: $dark-clr-2;
    border-color: $light-clr-1;
  }

  & .modal__title,
  .modal__text {
    color: $light-clr-1;
  }
  &.pop-up__text-info {
    color: $light-clr-1;
  }
  & .modal-congratulation {
    color: $add-light-clr-2;
  }
  & .modal__button {
    background: none;
    color: $light-clr-1;
  }
  & .modal__button-remove {
    background: none;
    color: $light-clr-1;
  }
  & .modal__link-social-amazon {
    filter: grayscale(100%) invert(1);
    &:hover {
      filter: invert(0) grayscale(0) drop-shadow(2px 0px 6px $light-clr-1);
    }
  }
  & .modal__social-book-shop {
    &:hover {
      filter: grayscale(100%) invert(1) sepia(50%);
    }
  }
  & .modal__link-social-open-book {
    &:hover {
      filter: grayscale(100%) invert(1) sepia(50%);
      stroke: orange;
    }
  }
  & .modul__icon-cross {
    stroke: $light-clr-1;
  }
}

.dark-theme {
  & .header-link {
    color: $light-clr-1;
  }
  & .header-link-icon {
    fill: $light-clr-1;
  }

  & .active {
    color: $light-clr-1;
  }
  & .header__singup-btn {
    color: $light-clr-1;
    &:hover {
      color: $dark-clr-1;
    }
  }

  & .header-singin-icon {
    background: $accent-clr;
    stroke: $light-clr-1;
    fill: $light-clr-1;
  }
  & .header-singin-down-icon {
    stroke: $dark-clr-1;
  }
  & .mob-menu__Log-out-btn {
    color: $dark-clr-1;
    &:hover {
      color: $light-clr-1;
    }
  }
  & .header-menu-mob {
    stroke: $light-clr-1;
    background-color: $dark-clr-2;

    transition: $animation-fast;
    &:hover {
      stroke: $accent-clr;
    }
  }
}

.dark-theme {
  & .shopping-list__card {
    background-color: $dark-clr-1;
    border-color: $accent-clr;
  }
  & .shopping-list__description {
    color: $light-clr-1;
  }
}

.dark-theme {
  & .form-container {
    background-color: $category-clr;
    border-color: $light-clr-1;
  }
  & .modal__closeIcon {
    stroke: $light-clr-1;
  }
  & .form-input {
    background-color: $category-clr;
    outline-color: $light-clr-1;
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.01em;
    color: $light-clr-1;
    &::placeholder {
      color: $light-clr-1;
    }
  }
  & .modal__input-icon {
    stroke: $light-clr-1;
    fill: $category-clr;
  }
  & .btn-signup {
    background-color: $add-light-clr-1;
    overflow: hidden;
    color: $dark-clr-2;
    &:hover {
      background-color: $accent-clr;
      border: 1px solid transparent;
      color: $light-clr-1;
    }
  }
  & .modal__btn {
    color: $add-light-clr-2;
  }
}

.dark-theme {
  & .shopping {
    background-color: $dark-clr-2;

    transition: background-color $animation-fast;
  }

  & .shopping__heading,
  & .shopping__title,
  & .shopping__book-description {
    color: $light-clr-1;

    transition: background-color $animation-fast;
  }

  & .shopping__card {
    background-color: $dark-clr-1;

    transition: background-color $animation-fast;
  }

  & .shopping__shop-img {
    color: $add-text-clr;
  }
}

.dark-theme {
  & .footer,
  .footer__wrapper {
    background-color: $dark-clr-2;
  }

  & .footer__text {
    color: $light-clr-1;
  }

  & .footer__link {
    color: $light-clr-2;
  }
}
