<!-- Modal window -->
<div
  id="modalFooter"
  class="backdrop is-hidden footer__backdrop js-backdrop"
  data-modal-footer
  style="display: none"
>
  <div class="footer-modal"></div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <p class="footer__text footer__text--left">
        &#169; 2023 | All Rights Reserved |
      </p>
      <p class="footer__text footer__text--rigth">
        Developed with
        <svg width="14" height="13" class="footer__icon">
          <use href="./images/svg-sprite/symbol-defs.svg#icon-heart"></use>
        </svg>
        by
        <a href="#" class="footer__link students--link" data-footer-open
          >GoIT Students</a
        >
      </p>
    </div>
  </div>
</footer>
