<header class="header">
  <div class="header-container container">
    <a class="header-logo" href="./index.html">
      <svg class="logo-header" width="20" height="20">
        <use href="./images/svg-sprite/symbol-defs.svg#booklogo-icon"></use>
      </svg>
      <span class="web">Book</span>shelf</a
    >
    <nav class="page-nav">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="active" href="./index.html">Home</a>
        </li>
        <li class="header-list-item">
          <a class="header-link" href="./shop-list.html"
            >ShoppingList
            <svg class="header-link-icon" width="20" height="20">
              <use
                href="./images/svg-sprite/symbol-defs.svg#icon-lock-02"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
