<!-- <button class="bu js-open">Open</button>
<button class="bu js-open-remove">Open-remove</button>  КНОПКИ ДЛЯ ТЕСТА JS КОДА-->

<div class="backdrop">
    <div class="modal-window">
      <div class="modal__container">
        <svg class="modul__icon-cross js-close">
          <use href="./images/svg-sprite/symbol-defs.svg#icon-x-close"></use>
        </svg>
        <div class="modal__body">
          <!-- <img src="./img/face-hello.png" alt="title-book" class="modal__img"> -->
          <div class="modal__box">
            <h2 class="modal__title">HELLO BEAUTIFUL</h2>
            <h3 class="modal__subtitle">Ann Napolitano</h3>
            <p class="modal__text">
              In a homage to Louisa May Alcott’s “Little Women,” a young man’s
              dark past resurfaces as he gets to the know the family of his
              college sweetheart.
            </p>
            <ul class="modal__social-list">
              <li class="modal__social-amazon"><a class="modal__link-social-amazon" href="#" target="_blank"></a></li>
              <li class="modal__social-open-book"><a class="modal__link-social-open-book" href="#" target="_blank"></a></li>
              <li class="modal__social-book-shop"><a class="modal__link-social-book-shop" href="#" target="_blank"></a></li>
            </ul>
          </div>
        </div>
        <div class="button__wrapper">
          <button class="modal__button">add to shopping list</button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop-remove">
    <div class="modal-window-remove">
      <div class="modal__container-remove">
        <svg class="modul__icon-cross-remove js-close-remove">
          <use href="./images/svg-sprite/symbol-defs.svg#icon-x-close"></use>
        </svg>
        <div class="modal__body-remove">
            <!-- <img src="./img/face-hello768.png" alt="title-book" class="modal__img-remove"> -->
          <div class="modal__box-remove">
            <h2 class="modal__title-remove">HELLO BEAUTIFUL</h2>
            <h3 class="modal__subtitle-remove">Ann Napolitano</h3>
            <p class="modal__text-remove">
              In a homage to Louisa May Alcott’s “Little Women,” a young man’s
              dark past resurfaces as he gets to the know the family of his
              college sweetheart.
            </p>
            <ul class="modal__social-list-remove">
              <li class="modal__social-amazon-remove"><a class="modal__link-social-amazon-remove" href="#" target="_blank"></a></li>
              <li class="modal__social-open-book-remove"><a class="modal__link-social-open-book-remove" href="#" target="_blank"></a></li>
              <li class="modal__social-book-shop-remove"><a class="modal__link-social-book-shop-remove" href="#" target="_blank"></a></li>
            </ul>
          </div>
        </div>
        <div class="button__wrapper-remove">
          <button class="modal__button-remove">remove from the shopping list</button>
        </div>
        <p class="modal__congratulation">Сongratulations! You have added the book to the shopping list. To delete, press
          the button “Remove from the shopping list”.</p>
      </div>
    </div>
  </div>

