<button class="bu js-open">Open</button>
<button class="bu js-open-remove">Open-remove</button>
<!-- КНОПКИ ДЛЯ ТЕСТА JS КОДА -->

<div class="backdrop">
  <div class="modal-window">
    <div class="modal__container">
      <svg class="modul__icon-cross js-close">
        <use href="./images/svg-sprite/symbol-defs.svg#icon-x-close"></use>
      </svg>
      <div class="modal__body js-modal-body"></div>
      <div class="button__wrapper">
        <button class="modal__button">add to shopping list</button>
      </div>
    </div>
  </div>
</div>

<div class="backdrop-remove">
  <div class="modal-window-remove">
    <div class="modal__container-remove">
      <svg class="modul__icon-cross-remove js-close-remove">
        <use href="./images/svg-sprite/symbol-defs.svg#icon-x-close"></use>
      </svg>
      <div class="modal__body-remove js-modal-body-remove"></div>
      <div class="button__wrapper-remove">
        <button class="modal__button-remove">
          remove from the shopping list
        </button>
      </div>
      <p class="modal__congratulation">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
