<!-------------------------------Разметка для пустого ШПЛИСТА-------------------------------------->
<div class="shoppinglist">
    <div class="shoppinglist__container">
        <div class="shoppinglist__body">
            <h1 class="shoppinglist__title">Shopping <span>List</span></h1>
            <div class="shoppinglist__wrapper">
                <p class="shoppinglist-text">This page is empty, add some books and proceed to order.</p>
                <img src="./images/png/empty-shop-list.png" alt="books" class="shoppinglist__img">
            </div>
        </div>
    </div>
</div>

<!-----------------------------Разметка для полного ШПЛИСТА--------------------------------------->
<div class="shoppinglist-full">
    <div class="shoppinglist-full__container">
        <div class="shoppinglist-full__body">
            <h1 class="shoppinglist-full__title">Shopping <span>List</span></h1>
            <ul class="shoppinglist-full__list">
                <li class="shoppinglist-full__item">
                    <!-- <img src="./img/i_will.png" alt="title" class="shoppinglist-full__img"> -->
                    <div class="shoppinglist-full__box">
                        <div class="shoppinglist-full__wrapper">
                            <div class="shoppinglist-full__wrapper-title">
                                <h2 class="shoppinglist-full__item-title">I will find you</h2>
                                <h3 class="shoppinglist-full__subtitle">Hardcover fiction</h3>
                            </div>
                            <div class="shoppinglist-full__wrapper-icon">
                                <svg class="shoppinglist-full__icon-dump">
                                    <use href="./images/svg-sprite/symbol-defs.svg#icon-trash"></use>
                                </svg>
                            </div>
                        </div>
                        <p class="shoppinglist-full__text">David Burroughs was once a devoted father to his
                            three-year-old son Matthew, living a...</p>
                        <div class="shoppinglist-full__wrapper-list">
                            <p class="shoppinglist-full__author">Harlan Coben</p>
                            <ul class="shoppinglist-full__social-list">
                                <li class="shoppinglist-full__social-item-amazon"><a href="#"
                                        class="shoppinglist-full__social-link-amazon" target="_blank"></a></li>
                                <li class="shoppinglist-full__social-item-open-book"><a href="#"
                                        class="shoppinglist-full__social-link-open-book" target="_blank"></a></li>
                                <li class="shoppinglist-full__social-item-book-shop"><a href="#"
                                        class="shoppinglist-full__social-link-book-shop" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="shoppinglist-full__pagination-list">
                <li class="shoppinglist-full__pagination-item">
                    <ul class="shoppinglist-full__pagination-left">
                        <li class="shoppinglist-full__pagination-left-item"></li>
                        <li class="shoppinglist-full__pagination-left-item"></li>
                    </ul>
                </li>
                <li class="shoppinglist-full__pagination-item">
                    <ul class="shoppinglist-full__pagination-centre">
                        <li class="shoppinglist-full__pagination-centre-item"></li>
                        <li class="shoppinglist-full__pagination-centre-item"></li>
                        <li class="shoppinglist-full__pagination-centre-item"></li>
                    </ul>
                </li>
                <li class="shoppinglist-full__pagination-item">
                    <ul class="shoppinglist-full__pagination-right">
                        <li class="shoppinglist-full__pagination-right-item"></li>
                        <li class="shoppinglist-full__pagination-right-item"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
