<!-- shopping-list -->
<section class="shopping">
  <h1 class="shopping__heading">
    Shopping<span class="shopping__heading--color"> List</span>
  </h1>
  <ul class="shopping__cards"></ul>
  <div class="shopping__storage">
    <p class="shopping__storage-notification">
      This page is empty, add some books and proceed to order.
    </p>
    <img
      srcset="
        ./images/shoping-list-empty-mobile-sm.png    265w,
        ./images/shoping-list-empty-mobile-sm-2x.png 530w,
        ./images/shoping-list-empty-lg.png           322w,
        ./images/shoping-list-empty-lg-2x.png        644w
      "
      sizes="(min-width: 1440px) 322px, 265px"
      src="./images/shoping-list-empty-mobile-sm.png"
      alt="Images haven't found"
    />
  </div>
  <!-- pagination -->
  <div id="tui-pagination-container" class="tui-pagination pagination"></div>
</section>
