<!-- support Ukraine -->

<div class="support-container">
  <div class="support-wrapper">
    <h2 class="support-title">Support Ukraine</h2>

    <svg class="support-icon" width="20" height="32">
      <use href="./images/svg-sprite/symbol-defs.svg#icon-Ukraine"></use>
    </svg>
  </div>

  <div class="swiper-container">
    <div class="logoContainer"></div>
  </div>
  <button
    class="swiper-button-next"
    type="button"
    aria-label="Scroll to show more founds"
  >
    <svg class="swiper-button-next-icon" width="22" height="22">
      <use
        href="./images/svg-sprite/symbol-defs.svg#icon-arrow-down-icon"
      ></use>
    </svg>
  </button>

  <!-- scroll-up  -->

  <button type="button" class="btn-up btn-up-hide"></button>
</div>
